<main class='l-main-devise l-container'>
  <div class='p-form-devise'>
    <div class=' l-container'>
      <div class='p-form-devise__card p-form-devise__card--admin'>
        <div class='p-form-devise__heading'>
          <h2 class='c-heading--border'>パスワードを変更する</h2>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class='p-form-devise__forms'>
            <div class='p-form-devise__item'>
              <%= f.label :password, class: 'p-form-devise__label' %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'p-form-devise__input' %>
            </div>
          </div>

          <div class='p-form-devise__forms'>
            <div class='p-form-devise__item'>
              <label class='p-form-devise__label' for='user_password_confirmation'>Password（確認用）</label>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'p-form-devise__input' %>
            </div>
          </div>

          <div class='p-form-devise__submit'>
            <%= f.submit 'パスワードを変更', class: 'c-btn--primary c-btn--large' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
